    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Ação</th>
          <th width="20"></th>
        </tr>
      </thead>
      <tbody>
        <% @retrospective.bads.each do |bad| %>
          <tr class="bad">
            <td><%= bad.description %></td>
            <td><%= bad.action %></td>
            <td><%= link_to '', retrospective_bad_url(@retrospective, bad), method: :delete, data: { confirm: "Tem certeza?" }, class: 'icon-remove' %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

