    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
        </tr>
      </thead>
      <tbody>
        <% @retrospective.goods.each do |good| %>
          <tr class="good">
            <td><%= good.description %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

