    <table class="table">
      <thead>
        <tr>
          <th>Descrição</th>
          <th>Ação</th>
        </tr>
      </thead>
      <tbody>
        <% @retrospective.bads.each do |bad| %>
          <tr class="bad">
            <td><%= bad.description %></td>
            <td><%= bad.action %></td>
          </tr>
        <% end %>
      </tbody>
    </table>

