<%= form_for @retrospective  do |f| %>
    <div id="newRetro" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h2>Nova Retrospectiva</h2>
    </div>
    <div class="modal-body">
        <% if @retrospective.errors.any? %>
          <div class="alert alert-error">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <h4>Atenção!</h4>
            Os seguintes erros foram encontrados:
            <ul>
              <% @retrospective.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <div class="field">
          <%= f.text_field :name, class: "span5", value: "Sprint# #{@retrospectives.count + 1}" %>
        </div>
    </div>
    <div class="modal-footer">
      <%= f.submit "Salvar", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
